<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.mobile.rest.mapper.PharmacyUserMapper">
  <resultMap id="BaseResultMap" type="com.ctb.mobile.rest.entity.PharmacyUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PHARMACY_ID" jdbcType="VARCHAR" property="pharmacyId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="LAST_LOGIN_TIME" jdbcType="BIGINT" property="lastLoginTime" />
  </resultMap>
</mapper>