<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctb.syncdata.rest.mapper.HospitalPlatformSettingsMapper">
  <resultMap id="BaseResultMap" type="com.ctb.syncdata.rest.entity.HospitalPlatformSettings">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HOSPITAL_ID" jdbcType="VARCHAR" property="hospitalId" />
    <result column="PLATFORM_ID" jdbcType="VARCHAR" property="platformId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
  </resultMap>
</mapper>